<li class="drop" onclick="route('<%= link %>');">
    <div class="product">
        <div class="product-component-top" style="background: url('<%= img %>');background-repeat: no-repeat;background-size: contain;background-position: center;">
            <div class="product-price">Free</div>
        </div>
        <div class="product-component-middle">
            <div class="product-head"><%= name %></div>
            <div class="product-description"><%= desc %></div>
        </div>
        <div class="product-tags"></div>
        <div class="product-component-bottom">
            <button class="btn btn-voiture">Start Now <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</li>